<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trick4Treat</title> 
    
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>
<body>
    
    <video autoplay loop muted playsinline id="bg-video">
        <source src="/static/video/halloween_loop.mp4" type="video/mp4"> 
        Votre navigateur ne supporte pas la vidéo de fond.
    </video>
    
    <header>
        <h1> Trick4Treat </h1> 
    </header>

    <main id="app-container">
        <div id="game-board" class="halloween-theme">
            <p>La grille de 7x6 sera insérée ici.</p>
        </div>

        <div id="message-area">
            <p id="game-status">Statut: Prêt à jouer!</p>
            <p id="robot-response" class="hidden">Le Robot parle ici...</p>
            <button id="restart-button">Recommencer la partie</button>
        </div>
    </main>

    </body>
</html>